# Ignore Windows files
desktop.ini

extLibs/**/**

# Ignore jobs
jobs/**/sed*
jobs/filenames/*
jobs/ana/**.txt
jobs/rec/**.txt
jobs/sim/**.txt
jobs/sub/**.sh
jobs/sub/**.sh.*.*
jobs/ana/**/**.txt
jobs/rec/**/**.txt
jobs/sim/**/**.txt
jobs/sub/**/**.sh
jobs/sub/**/**.sh.*.*
jobs/ana/**/**/**.txt
jobs/rec/**/**/**.txt
jobs/sim/**/**/**.txt
jobs/sub/**/**/**.sh
jobs/sub/**/**/**.sh.*.*

# Ignore settings
**.code-workspace
.bash**
.vscode/**

# Ignore CMT files
**.cmtref
**.fferr
**.ffwarn
**.history
**.in
**.makecmtsave
**.makesav
**.shstamp
**.stamp
core.*
fort.*

# Ignore CVS files
CVS
Entries
Repository
Root
Tag

# Ignore binaries
**.[oad]
**.do
**.exe
**.make
**.so
*ACLiC_dict_rdict.pcm
execute
main
workarea/InstallArea

# Ignore temporary files
*.bosserr
*.bosslog
*.tmp
jobs/temp.sh

# Compontents of topoana
**.dat_auto
**.dat_temp*
**.err
**.log
**.out
**.root
**.tex
**.time
jobs/topoana/**.txt
jobs/topoana/**/**.txt
jobs/topoana/**/**/**.txt
jobs/topoana/*.txt
jobs/topoana/*/*.txt
jobs/topoana/*/*/*.txt
topoana/**.txt
topoana/**/**.txt
topoana/**/*.pdf
topoana/*.txt
topoana/*/*.txt
workarea/Analysis/TopoAna/v1.6.9.1/test/*
workarea/Analysis/TopoAna/v1.6.9.1/test/**
workarea/Analysis/TopoAna/v1.6.9.1/share/**/*.pdf
workarea/Analysis/TopoAna/v1.6.9.1/test/**/*.pdf
workarea/Analysis/TopoAna/v1.6.9.1/tutorials/**/*.pdf
workarea/Analysis/TopoAna/v1.6.9.1/**/*.pdf
workarea/Analysis/YangYH/**
ROOTCompare