# Ignore Windows files
desktop.ini

# Ignore folder contents
data/**/**.dst
data/**/**.log
data/**/**.raw
data/**/**.rtraw
data/**/*.dst
data/**/*.log
data/**/*.root
data/**/*.rtraw
plots/**/**.eps
plots/**/**.pdf
plots/**/**.png
plots/**/**.root
plots/**/*.eps
plots/**/*.pdf
plots/**/*.png
plots/**/*.root

# Ignore jobs
jobs/**/sed*
jobs/filenames/*
jobs/ana/**.txt
jobs/rec/**.txt
jobs/sim/**.txt
jobs/sub/**.sh
jobs/sub/**.sh.*.*
jobs/ana/**/**.txt
jobs/rec/**/**.txt
jobs/sim/**/**.txt
jobs/sub/**/**.sh
jobs/sub/**/**.sh.*.*
jobs/ana/**/**/**.txt
jobs/rec/**/**/**.txt
jobs/sim/**/**/**.txt
jobs/sub/**/**/**.sh
jobs/sub/**/**/**.sh.*.*

# Ignore settings
**.code-workspace
.bash**
.vscode/**

# Ignore CMT files
**.cmtref
**.fferr
**.ffwarn
**.history
**.in
**.makecmtsave
**.makesav
**.shstamp
**.stamp
core.*
fort.*

# Ignore CVS files
CVS
Entries
Repository
Root
Tag

# Ignore binaries
**.[oad]
**.do
**.exe
**.make
**.so
*ACLiC_dict_rdict.pcm
boss/workarea/InstallArea/**
execute
main

# Ignore temporary files
*.bosserr
*.bosslog
*.tmp

# Compontents of topoana
**.dat_auto
**.dat_temp*
**.err
**.log
**.out
**.pdf
**.root
**.tex
**.time
boss/workarea/Analysis/TopoAna/v*/test/*
boss/workarea/Analysis/TopoAna/v*/test/**
jobs/topoana/**.txt
jobs/topoana/**/**.txt
jobs/topoana/**/**/**.txt
jobs/topoana/*.txt
jobs/topoana/*/*.txt
jobs/topoana/*/*/*.txt
topoana/**.txt
topoana/**/**.txt
topoana/*.txt
topoana/*/*.txt