/// Analysis configuration file for analysing MC output of the `D0phi_KpiKK_data` package.

// * INPUT FILE/DIRECTORY NAMES * //
	Exclusive MC file = "/mnt/d/IHEP/root/D0phi_KpiKK/excl/1e6"
	Inclusive MC file = "/mnt/d/IHEP/root/D0phi_KpiKK/incl/fit_cut_2009+2012"
	Measurements file = "/mnt/d/IHEP/root/D0phi_KpiKK/Jpsi2009+2012_dst"

// * TERMINAL OUTPUT * //
	Print cut flow = true

// * GLOBAL PLOT STYLE * //
	Plot legend with statistics = true

// * WHICH BRANCHES TO PLOT * //
	Plot these inclusive MC branches = {
		// * Full range * //
			"fit4c_all  > full/mphi_mD0; mphi, 240, .7, 2.; mD0, 160, .9, 2.1; colz"
			"fit4c_best > full/mphi_mD0; mphi, 240, .7, 2.; mD0, 160, .9, 2.1; colz"
			"fit4c_all  > full/mD0;   mD0,   200,  .7,    2.;       ; e1"
			"fit4c_best > full/mD0;   mD0,   200,  .7,    2.;       ; e1"
			"fit4c_all  > full/mphi;  mphi,  200,  .97,   1.7;      ; e1"
			"fit4c_best > full/mphi;  mphi,  200,  .97,   1.7;      ; e1"

		// * Signal * //
			"fit4c_best > signal/mD0;   mD0, .001, 1.84, 1.90; mphi>0.98959 && mphi<1.04890; e1"
			"fit4c_best > signal/mphi;  mphi, .001, .985, 1.05; mD0>1.84855 && mD0<1.89527; e1"
	}
	Plot these exclusive MC branches = {
		// * Fit plots NORMAL * //
			"fit4c_all  > norm/mD0;   mD0,   400, 1.85,   1.9;     ; e1"
			"fit4c_best > norm/mD0;   mD0,   400, 1.85,   1.9;     ; e1"
			"fit4c_all  > norm/mphi;  mphi,  400,  .99,   1.1;     ; e1"
			"fit4c_best > norm/mphi;  mphi,  400,  .99,   1.1;     ; e1"
			"fit4c_all  > norm/mJpsi; mJpsi, 400, 3.0967, 3.09685; ; e1"
			"fit4c_best > norm/mJpsi; mJpsi, 400, 3.0967, 3.09685; ; e1"

		// * Fit plots LOG * //
			"fit4c_all  > log/mphi_mD0; mphi, 240, .75, 1.95; mD0, 160, .95, 1.85; ; colz logz"
			"fit4c_best > log/mphi_mD0; mphi, 240, .75, 1.95; mD0, 160, .95, 1.85; ; colz logz"
			"fit4c_all  > log/mD0; mD0,     400,  .7,    1.95;    ; e1 logy"
			"fit4c_best > log/mD0; mD0,     400,  .7,    1.95;    ; e1 logy"
			"fit4c_all  > log/mphi; mphi,   400,  .97,   1.7;     ; e1 logy"
			"fit4c_best > log/mphi; mphi,   400,  .97,   1.7;     ; e1 logy"
			"fit4c_all  > log/mJpsi; mJpsi, 400, 3.0967, 3.09685; ; e1 logy"
			"fit4c_best > log/mJpsi; mJpsi, 400, 3.0967, 3.09685; ; e1 logy"
	}
	Plot these measurement branches = {
		// * Full range * //
			"fit4c_all  > full/mphi_mD0; mphi, 240, .7, 2.; mD0, 160, .9, 2.1;; colz"
			"fit4c_best > full/mphi_mD0; mphi, 240, .7, 2.; mD0, 160, .9, 2.1;; colz"
			"fit4c_all  > full/mD0;   mD0,   200,  .7,    2.;       ; e1"
			"fit4c_best > full/mD0;   mD0,   200,  .7,    2.;       ; e1"
			"fit4c_all  > full/mphi;  mphi,  200,  .97,   1.7;      ; e1"
			"fit4c_best > full/mphi;  mphi,  200,  .97,   1.7;      ; e1"

		// * Signal * //
			"fit4c_best > signal/mD0;   mD0, .001, 1.84, 1.90; mphi>0.98959 && mphi<1.04890; e1"
			"fit4c_best > signal/mphi;  mphi, .001, .985, 1.05; mD0>1.84855 && mD0<1.89527; e1"
	}

// * FITTING THE EXCLUSIVE MC SIGNAL * //
	Signals to fit = {
		421
		"K^{-}#pi^{+}",
		"fit4c_best; mD0,  .001, 1.84, 1.90; mphi > 0.98959 && mphi < 1.04890; e1",
		333, "K^{+}K^{-}",
		"fit4c_best; mphi, .001, .985, 1.05; mD0  > 1.84855 && mD0  < 1.89527; e1"
	}