// * FILE NAME * //
	Input file or directory = "/mnt/d/IHEP/root/D0phi_KpiKK/Jpsi2009+2012_dst"
	Print loaded configuration parameters = false

// * TERMINAL OUTPUT * //
	Print branches = false

// * PLOT STYLE * //
	Use y log scale = false
	Use z log scale = false
	Set plot ranges = false
	Plot statistics = true

// * WHICH BRANCHES TO PLOT * //
	Plot raw data      = false
	Draw multiplicites = false
	Draw vertex        = false
	Draw ToF           = false
	Draw fit branches  = false

	Print these branches = {
		// * Full range * //
			"fit4c_all  > full/mphi_mD0; mphi, 240, .7, 2.; mD0, 160, .9, 2.1;; colz"
			"fit4c_best > full/mphi_mD0; mphi, 240, .7, 2.; mD0, 160, .9, 2.1;; colz"
			"fit4c_all  > full/mD0;   mD0,   200,  .7,    2.;       ; e1"
			"fit4c_best > full/mD0;   mD0,   200,  .7,    2.;       ; e1"
			"fit4c_all  > full/mphi;  mphi,  200,  .97,   1.7;      ; e1"
			"fit4c_best > full/mphi;  mphi,  200,  .97,   1.7;      ; e1"

		// * Signal * //
			"fit4c_best > signal/mD0;   mD0, .001, 1.84, 1.90; mphi>0.98959 && mphi<1.04890; e1"
			"fit4c_best > signal/mphi;  mphi, .001, .985, 1.05; mD0>1.84855 && mD0<1.89527; e1"
	}

// * FIT SETTINGS * //
	Perform fits = false
	Do Gaussian  = false
	Do single convolution = false
	Do double convolution = false