/// Analysis configuration file for analysing MC output of the `D0phi_KpiKK_data` package.

// * FILE NAME * //
	Input file or directory = "/mnt/d/IHEP/root/D0phi_KpiKK/inclMC/fit_cut"

// * TERMINAL OUTPUT * //
	Print branches = false
	Print averages = false

// * PLOT STYLE * //
	Use y log scale = "y"
	Use z log scale = "z"
	Set plot ranges = true
	Plot statistics = false

// * WHICH BRANCHES TO PLOT * //
	Plot raw data      = true
	Draw multiplicites = false
	Draw vertex        = false
	Draw ToF           = false
	Draw fit branches  = true
	Draw mctruth       = false

	Print these branches = {
		// * Vertex plots * //
			"vertex; vy0, 60, -.154, -.146 ; vx0, 40,  .08,   .122; ; colz logz"
			"vertex; vz0, 60, -.4,    .5   ; vx0, 60,  .08,   .122; ; colz logz"
			"vertex; vz0, 60, -.4,    .5   ; vy0, 40, -.154, -.146; ; colz logz"

		// * Fit plots * //
			"fit4c_all;  mphi, 240, .7, 2.; mD0, 160, .9, 2.1; colz logz",
			"fit4c_best; mphi, 240, .7, 2.; mD0, 160, .9, 2.1; colz logz",
			"fit4c_all;  mD0,   400,  .7,    2.;      e1 logy",
			"fit4c_best; mD0,   400,  .7,    2.;      e1 logy",
			"fit4c_all;  mphi,  400,  .97,   1.7;     e1 logy",
			"fit4c_best; mphi,  400,  .97,   1.7;     e1 logy",
			"fit4c_all;  mJpsi, 400, 3.0967, 3.09685; e1 logy",
			"fit4c_best; mJpsi, 400, 3.0967, 3.09685; e1 logy"
	}

// * FIT SETTINGS * //
	Perform fits = false
	Do Gaussian  = true
	Do single convolution = false
	Do double convolution = false