/// Analysis configuration file for analysing MC output of the `D0phi_KpiKK_data` package.

// * FILE NAME * //
	Input file or directory = "/mnt/d/IHEP/root/D0phi_KpiKK/excl/1e6"

// * TERMINAL OUTPUT * //
	Print branches = false
	Print averages = false

// * PLOT STYLE * //
	Use y log scale = "y"
	Use z log scale = "z"
	Set plot ranges = false
	Plot statistics = true

// * WHICH BRANCHES TO PLOT * //
	Plot raw data      = false
	Draw multiplicites = false
	Draw vertex        = false
	Draw ToF           = false
	Draw fit branches  = false
	Draw mctruth       = false

	Print these branches = {
		// * Fit plots NORMAL * //
			"fit4c_all  > norm/mD0;   mD0,   400, 1.85,   1.9;     ; e1"
			"fit4c_best > norm/mD0;   mD0,   400, 1.85,   1.9;     ; e1"
			"fit4c_all  > norm/mphi;  mphi,  400,  .99,   1.1;     ; e1"
			"fit4c_best > norm/mphi;  mphi,  400,  .99,   1.1;     ; e1"
			"fit4c_all  > norm/mJpsi; mJpsi, 400, 3.0967, 3.09685; ; e1"
			"fit4c_best > norm/mJpsi; mJpsi, 400, 3.0967, 3.09685; ; e1"

		// * Fit plots LOG * //
			"fit4c_all  > log/mphi_mD0; mphi, 240, .75, 1.95; mD0, 160, .95, 1.85; ; colz logz"
			"fit4c_best > log/mphi_mD0; mphi, 240, .75, 1.95; mD0, 160, .95, 1.85; ; colz logz"
			"fit4c_all  > log/mD0; mD0,     400,  .7,    1.95;    ; e1 logy"
			"fit4c_best > log/mD0; mD0,     400,  .7,    1.95;    ; e1 logy"
			"fit4c_all  > log/mphi; mphi,   400,  .97,   1.7;     ; e1 logy"
			"fit4c_best > log/mphi; mphi,   400,  .97,   1.7;     ; e1 logy"
			"fit4c_all  > log/mJpsi; mJpsi, 400, 3.0967, 3.09685; ; e1 logy"
			"fit4c_best > log/mJpsi; mJpsi, 400, 3.0967, 3.09685; ; e1 logy"
	}

// * FIT SETTINGS * //
	Perform fits = false
	Do Gaussian  = false
	Do single convolution = false
	Do double convolution = false