/// Analysis configuration file for analysing MC output of the `D0phi_KpiKK_data` package.

// * FILE NAME * //
	Input file or directory = "/mnt/d/IHEP/root/debug_D0phi_KpiKK.root"

// * TERMINAL OUTPUT * //
	Print branches = false

// * PLOT STYLE * //
	Use y log scale = true
	Use z log scale = false
	Set plot ranges = false
	Plot statistics = false

// * WHICH BRANCHES TO PLOT * //
	Plot raw data      = false
	Draw multiplicites = false
	Draw mctruth       = true
	Draw vertex        = false
	Draw ToF           = false
	Draw fit branches  = false

	Print these branches = {
		"fit4c_all; mphi; mD0;; colz",
		"fit4c_all; mphi, 100, .95, 1.1; mD0, .002, 1.8, 1.9; mD0>1.7 && mD0<2.0 && mphi>.95 && mphi<1.1; colz logy"
	}

// * FIT SETTINGS * //
	Perform fits = false
	Do Gaussian  = false
	Do single convolution = false
	Do double convolution = false