pi0 = {
	"Mass offset percentage = .02"
	"Pure BW width          = .013"
	"Convoluted BW width    = .00002"
	"Signle Gaussian width  = .002"
	"Double Gaussian widths = {.00499, .0135}"
	"Fit range data         = {.10, .17}"
	"Fit range excl MC      = {.10, .17}"
	"Plot range data        = {.10, .17}"
	"Plot range excl MC     = {.10, .17}"
}

rho0 = {
	"Mass offset percentage = .05"
	"Pure BW width          = .8"
	"Convoluted BW width    = .001"
	"Signle Gaussian width  = .002"
	"Double Gaussian widths = {.0469, .1312}"
	"Fit range data         = {.40, 1.1}"
	"Fit range excl MC      = {.40, 1.1}"
	"Plot range data        = {.30, 1.7}"
	"Plot range excl MC     = {.30, 1.7}"
}

rho+ = {
	"Mass offset percentage = .05"
	"Pure BW width          = .8"
	"Convoluted BW width    = .0004"
	"Signle Gaussian width  = .002"
	"Double Gaussian widths = {.0542, .209}"
	"Fit range data         = {.50, 1.42}"
	"Fit range excl MC      = {.50, 1.42}"
	"Plot range data        = {.30, 1.7}"
	"Plot range excl MC     = {.30, 1.7}"
}

D0 = {
	"Mass offset percentage = .05"
	"Pure BW width          = .8"    //! not yet optimised
	"Convoluted BW width    = .0004" //! not yet optimised
	"Signle Gaussian width  = .002"
	"Double Gaussian widths = {.0542, .209}"
	"Fit range data         = {1.84, 1.91}"
	"Fit range excl MC      = {1.84, 1.91}"
	"Plot range data        = {1.83, 1.94}"
	"Plot range excl MC     = {1.83, 1.94}"
}

phi = {
	"Mass offset percentage = .05"
	"Pure BW width          = .8"    //! not yet optimised
	"Convoluted BW width    = .0004" //! not yet optimised
	"Signle Gaussian width  = .002"
	"Double Gaussian widths = {.002, .006}"
	"Fit range data         = {.99, 1.053}"
	"Fit range excl MC      = {.99, 1.053}"
	"Plot range data        = {.99, 1.18}"
	"Plot range excl MC     = {.99, 1.18}"
}

J/psi = {
	"Mass offset percentage = .05"
	"Pure BW width          = .8"
	"Convoluted BW width    = .0004"
	"Signle Gaussian width  = .002"
	"Double Gaussian widths = {1e-8, 1e-8}"
	"Fit range data         = {3.096813, 3.096815}"
	"Fit range excl MC      = {3.096813, 3.096815}"
	"Plot range data        = {3.096813, 3.096815}"
	"Plot range excl MC     = {3.096813, 3.096815}"
}